body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.bg-info {
    padding: 15px;
}

.bg-success {
    padding: 15px;
}

.padded {
    padding: 15px;
}

#alerts {
    width: 400px;
    position: fixed;
    top: 50px;
    right: 10px;
}

.alert {
    margin-bottom: 0;
    width: 300px;
    float: right;
}

.invalid {
    border-color: red;
}